# Data Cleaning

This notebook loads the raw dataset, handles missing values, performs feature engineering (cleaning units from numerical columns), and saves the cleaned dataset for modeling.

In [6]:
import pandas as pd
import numpy as np
import kagglehub
import os

# Get dataset path
path = kagglehub.dataset_download("nehalbirla/vehicle-dataset-from-cardekho")
dataset_path = os.path.join(path, "car details v4.csv")
print("Loading:", dataset_path)

df = pd.read_csv(dataset_path)
df.head()

Loading: /home/miky/.cache/kagglehub/datasets/nehalbirla/vehicle-dataset-from-cardekho/versions/4/car details v4.csv

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

## Handling Missing Values

In [7]:
print("Missing values before cleaning:")
print(df.isnull().sum())

# Drop rows with missing critical values if they are few, or impute
# For this dataset, let's see. If 'Engine', 'Max Power' etc are missing, we might drop them or impute with mode/mean.
# Given the likely size, we'll drop rows with missing values for simplicity and data quality, 
# but in a production system we might use more sophisticated imputation.
df_cleaned = df.dropna()
print("\nShape after dropping nulls:", df_cleaned.shape)

Missing values before cleaning:
Make                    0
Model                   0
Price                   0
Year                    0
Kilometer               0
Fuel Type               0
Transmission            0
Location                0
Color                   0
Owner                   0
Seller Type             0
Engine                 80
Max Power              80
Max Torque             80
Drivetrain            136
Length                 64
Width                  64
Height                 64
Seating Capacity       64
Fuel Tank Capacity    113
dtype: int64

Shape after dropping nulls: (1874, 20)

## Feature Cleaning & Engineering
We need to converting columns like 'Engine', 'Max Power' to numeric by removing units.

In [8]:
# Function to extract number from string
def clean_currency(x):
    if isinstance(x, str):
        return float(x.split()[0])
    return x

# Clean 'Engine' (remove ' cc')
df_cleaned['Engine'] = df_cleaned['Engine'].apply(lambda x: float(x.replace(' cc', '')) if isinstance(x, str) else x)

# Clean 'Max Power' (remove ' bhp' and handling other formats if any)
# Some entries might be 'bhp' or contain '@'
# Let's be robust: extract the first number
import re

def extract_bhp(x):
    if isinstance(x, str):
        # Search for a number (int or float) at the start
        match = re.search(r'^([\d\.]+)', x)
        if match:
            return float(match.group(1))
    return x

df_cleaned['Max Power'] = df_cleaned['Max Power'].apply(extract_bhp)

# Clean 'Max Torque' - this is complex (e.g. "190 Nm @ 2000 rpm")
# We will extract the Torque value (Nm)
def extract_torque(x):
    if isinstance(x, str):
        # Typical format: "190 Nm ..."
        # Extract first number
        match = re.search(r'^([\d\.]+)', x)
        if match:
            return float(match.group(1))
    return x

df_cleaned['Max Torque'] = df_cleaned['Max Torque'].apply(extract_torque)

# Show info after cleaning
df_cleaned.info()

<class 'pandas.DataFrame'>
Index: 1874 entries, 0 to 2057
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                1874 non-null   str
 1   Model               1874 non-null   str
 2   Price               1874 non-null   int64
 3   Year                1874 non-null   int64
 4   Kilometer           1874 non-null   int64
 5   Fuel Type           1874 non-null   str
 6   Transmission        1874 non-null   str
 7   Location            1874 non-null   str
 8   Color               1874 non-null   str
 9   Owner               1874 non-null   str
 10  Seller Type         1874 non-null   str
 11  Engine              1874 non-null   float64
 12  Max Power           1874 non-null   float64
 13  Max Torque          1874 non-null   float64
 14  Drivetrain          1874 non-null   str
 15  Length              1874 non-null   float64
 16  Width               1874 non-null   float64
 17  Height              1874 non-null   float64
 18  Seating Capacity    1874 non-null   float64
 19  Fuel Tank Capacity  1874 non-null   float64
dtypes: float64(8), int64(3), str(9)
memory usage: 307.5 KB

## Calculate Car Age

In [ ]:
import datetime
#current_year = datetime.datetime.now().year

#df_cleaned['Car_Age'] = current_year - df_cleaned['Year']
df_cleaned.head()

,Make,Model,Price,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Mahindra,XUV500 W8 [2015-2017],850000,90300,Diesel,Manual,Surat,White,First,Individual,2179 cc,138 bhp @ 3750 rpm,330 Nm @ 1600 rpm,FWD,4585.0,1890.0,1785.0,7.0,70.0
2055,Hyundai,Eon D-Lite +,275000,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814 cc,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,FWD,3495.0,1550.0,1500.0,5.0,32.0
2056,Ford,Figo Duratec Petrol ZXI 1.2,240000,73000,Petrol,Manual,Thane,Silver,First,Individual,1196 cc,70 bhp @ 6250 rpm,102 Nm @ 4000 rpm,FWD,3795.0,1680.0,1427.0,5.0,45.0
2057,BMW,5-Series 520d Luxury Line [2017-2019],4290000,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995 cc,188 bhp @ 4000 rpm,400 Nm @ 1750 rpm,RWD,4936.0,1868.0,1479.0,5.0,65.0
2058,Mahindra,Bolero Power Plus ZLX [2016-2019],670000,72000,Diesel,Manual,Guwahati,White,First,Individual,1493 cc,70 bhp @ 3600 rpm,195 Nm @ 1400 rpm,RWD,3995.0,1745.0,1880.0,7.0,NaN

## Save Cleaned Data

In [10]:
output_path = "datasets/cleaned_car_data.csv"
df_cleaned.to_csv(output_path, index=False)
print(f"Cleaned data saved to {output_path}")

Cleaned data saved to datasets/cleaned_car_data.csv